section:not(.header-section) {
    display: flex;
    align-items: center;
    flex-direction: column;
}




.header-section {
    background-image: url("../../public/background.jpg");
    background-size: cover;
    margin-bottom: 100px;
}

.inner-header {
    background-color: rgba(0, 0, 0, .8);
    height: 650px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inner-h1 {

    color: #fff;
    font-size: 3.7rem;
    line-height: 1.5;
    font-weight: 500;
    text-transform: uppercase;
}

.inner-h1::-moz-selection {
    /* Code for Firefox */
    background: #505050;
}

.inner-h1::selection {
    background: #505050;
}

.inner-h3 {

    font-size: 1.2rem;
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
    line-height: 30px;
    font-weight: lighter;
    width: 70%;
    text-align: center;
}

.inner-h3::-moz-selection {
    /* Code for Firefox */
    background: #505050;
}

.inner-h3::selection {
    background: #505050;
}

.button-div {
    margin-top: 56px;
    display: flex;
}


/**/

.about-section {
    margin: auto;
    width: 1300px;

}

.section-content {
    display: flex;
    margin-left: 90px;
    margin-right: 90px;
}

.section-content-p {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.section-content p {
    display: flex;
    align-items: center;
    line-height: 23px;
    margin-bottom: 10px;
}


.pageDown {
    width: 100%;
    display: flex;
    position: absolute;
    margin-top: -90px;
    cursor: pointer;
}


#a {
    margin-top: 100px;
}

/* portfolio */
.section-portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.section-portfolio p {
    font-style: italic;
    font-size: 20px;
    line-height: 28px;
    color: #5c5c5c;
    font-weight: 400;
}


.image-grid {
    max-width: 100vw;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    ;
}



.image-grid div {

    height: 200px;
    width: 25%;
}

.image-grid div img {

    width: 100%;
}




@media only screen and (max-width: 900px) {

    .image-grid {
        width: auto;
    }

    .image-grid div {
        width: 50%;

    }
}



/* */



.section-testimonials,
.section-fake-video {
    height: 400px;
    background-size: cover;
    margin-bottom: 140px;
}

@media only screen and (max-width: 900px) {

    .section-testimonials,
    .section-fake-video {
        display: none !important;
    }
}

.section-testimonials {
    background-image: url("../../public/bg.jpg");
}

.section-fake-video {
    height: 470px;
    background-image: url("../../public/bg2.jpg");
    display: flex;
    align-items: center;
    justify-content: center;


}

.section-fake-video div img {
    max-width: 80px;
    margin: 1rem;
    ;
    margin-bottom: 2rem;
}

.section-fake-video h3 {
    max-width: 800px;
    font-weight: 300;
    text-align: center;
    font-style: italic;
    margin-bottom: 30px;
    font-size: 22px;
    line-height: 34px;
    color: #fff;
    text-shadow: 0 1px 0 #000;
}

/* */
#contact {
    margin-top: 40px;
    margin-bottom: 80px;
}


.service-grid {
    margin-left: 8rem;
    margin-right: 8rem;

    min-width: 1000px;
    width: 1100px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 1rem;
    margin-bottom: 12rem;
    ;


}



/**/
.team-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: 25% 25% 25% 25%;
    margin-bottom: 7rem;

}

.team-grid div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 260px;
    max-height: 300px;
}

.team-grid div img {
    width: 100%;
}

.team-grid h3 {
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 5px;

    color: #333;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
}

.team-grid p {

    color: #5c5c5c;
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
}

.news-grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 1rem;
    margin-bottom: 3rem;
}


.form {
    margin-bottom: 5rem;
}

.form input {
    text-indent: 10px;
    font-size: 15px;
    line-height: 1.42857143;
    color: #333333;

    background-color: #ffffff;
    border: 1px solid #cccccc;

    height: 50px;
    margin: 1.3rem 0px;
    width: 100%;
}

.form div {
    display: grid;
    grid-template-columns: 47% 48%;
    gap: 5%;

}



.form textarea {
    padding-top: 10px;
    text-indent: 10px;

    font-size: 15px;
    line-height: 1.42857143;
    color: #333333;

    background-color: #ffffff;
    border: 1px solid #cccccc;

    height: 230px;
    margin: 1.3rem 0px;
    min-width: 100%;
}