.header-section {
    background-image: url("../../public/background.jpg");
    background-repeat: no-repeat;
    background-size: 100%; 
    position: relative;
}


.about-section {
    margin-top: 100px;
}

