
.header-section {
    
    
    background-image: url("../../public/background.jpg");
    background-size:cover;
    height: 900px;
   
}


.about-section {
    margin: auto;
    max-width: 1920px;    
}

.section-content {
    display: flex;
    min-width: 800px;
    justify-content: space-between;
    margin-left: 90px;    
    margin-right: 90px;    
}

.section-content p {
    display: flex;
    align-items: center;
    max-width: 700px;
}



